.container {
    width: 1366px;
    height: 768px;
    background: url(../img/background.jpg);
    padding: 45px 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.main-header, .main-footer{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
    display: flex;
    position: relative;
}

.logo-sprite{
    width: 46px;
    height: 44px;
    padding-right: 10px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.header-logo p{
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}

.header-logo p:nth-child(2) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact{
    color:  #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
/* -------------------------- */
.main-content {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item{
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.flex-item a {
  text-decoration: none;
}

.flex-item figcaption{
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.flex-item img{
    box-sizing: border-box;
    box-shadow: 0px 17px 24px 0px #000;
    width: 312px;
    height: 205px;
    display: inline-block;
    border: 2px solid;
    border-image: linear-gradient(0deg, #000, #fff);
    border-image-slice: 1;
}

.flex-item-tooltip {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 63px;
    background-color: #f26522;
    padding: 15px 0;
    transition: all 0.4s linear;
    opacity: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.flex-item-tooltip > p{
    text-align: left;
    font-size: 10px;
    padding-left: 20px;
}

.flex-item-tooltip img{
    height: 10px;
    width: 10px;
    border: none;
    box-shadow: none;
    margin-left: 5px;
    margin-top: 6px
}

.description{
    padding: 0px 20px;
    line-height: 21px;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.description p:first-child{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 20px;
}

.description p:last-child{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 14px;
}

.main-content figure:hover figcaption{
    color: #f26522;
}

.main-content figure:hover .flex-item-tooltip{
    opacity: 1;
    bottom: 40px;
}

.logo-link:hover p{
    color: #f26522;
}

.logo-link:hover .logo-sprite{
    width: 46px;
    height: 44px;
    background-position: -61px -5px;
}
/* -------------------------- */
.main-footer{
    justify-content: center;
    margin-top: 15px;
}

.main-footer p{
    font-family: Verdana, sans-serif;
    color:  #fff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}
