.container {
    width: 1366px;
    height: 768px;
    background: url(../img/background.jpg);
    padding: 45px 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

.main-header{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 45px;
}

.logo-link{
    text-decoration: none;
    position: relative;
    width: 160px;
}

.aaa{
  display:grid;
  grid-template-columns: 53px 20%;

}

.logo-sprite{
    width: 46px;
    height: 44px;
    padding-right: 10px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.header-logo p{
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
}

.header-logo p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact{
    color:  #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.main-content a{
    text-decoration: none;
    display: block;
    position: relative;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 65px;
}

.grid-item{
    padding-bottom: 20px;
}

.grid-item figcaption{
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.grid-item img{
    box-sizing: border-box;
    box-shadow: 0px 17px 24px 0px #000;
    width: 312px;
    height: 205px;
    display: inline-block;
    border: 2px solid;
    border-image: linear-gradient(0deg, #000, #fff);
    border-image-slice: 1;
}

.grid-item-tooltip {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 63px;
    background-color: #f26522;
    padding: 15px 0;
    transition: all 0.4s linear;
    opacity: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.grid-item-tooltip > p{
    font-size: 10px;
    padding-left: 20px;
}

.grid-item-tooltip img{
    height: 10px;
    width: 10px;
    border: none;
    box-shadow: none;
}

.description{
    padding: 0px 20px;
    line-height: 21px;
}

.description p:first-child{
    float: left;
    font-size: 20px;
}

.description p:last-child{
    float: right;
    font-size: 14px;
}

.description:after{
    display: table;
    content: '';
    clear: both;
}

.main-content figure:hover figcaption{
    color: #f26522;
}

.main-content figure:hover .grid-item-tooltip{
    opacity: 1;
    bottom: 38px;
}

.logo-link:hover p{
    color: #f26522;
}

.logo-link:hover .logo-sprite{
    width: 46px;
    height: 44px;
    background-position: -61px -5px;
}

.main-footer{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100%;
}

.main-footer p{
    font-family: Verdana, sans-serif;
    color:  #fff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}
